.container00{
  .text{
    position: absolute;
    top: 35%;
  }
}

.container01-home{
  background-image: url('../../assets/home/rocket-station.jpg') ;
}
.container02-home{
  background-image: url('../../assets/home/rocket.jpg') ;
}
.container03-home{
  background-image: url('../../assets/home/astronauts.gif') ;
}
.container04-home{
  background-image: url('../../assets/home/startship.jpg') ;
}


